<!-- file generator main component -->
<div class="generator-container">
  <!-- control buttons -->
  <div class="options">
    <div class="options__basic">
      <h3>{{ lang["basic-options"] }}</h3>
      <!-- choose the file name -->
      <div class="options__item">
        <label>(*) {{ lang["file-name"] }} </label>
        <input required list="names" type="text" [(ngModel)]="fileName" />
        <datalist id="names">
          <option>hello-world</option>
          <option>my-name</option>
          <option>my-cool-file</option>
        </datalist>
        <label *ngIf="!fileName.trim()" style="color: red">
          {{ lang["file-name-error"] }}
        </label>
      </div>
    </div>

    <div class="options__advanced">
      <!-- to switch to advanced mode -->
      <input (click)="toggleAdvanced($event)" type="checkbox" />
      <label> {{ lang["advanced"] }} </label>

      <!-- to choose file type -->
      <div *ngIf="isAdvanced">
        <h3>{{ lang["advanced-options"] }}</h3>

        <div class="options__item">
          <label>{{ lang["file-extension"] }} </label>
          <select [(ngModel)]="fileExtension">
            <option value="txt">Text</option>
            <option value="py">Python</option>
            <option value="java">Java</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="textarea-header">
    <div class="textarea-header__file-name">
      <h3>{{ getFullFileName() }}</h3>
    </div>
    <div class="textarea-header__end">
      <!-- to control textarea length -->
      <div class="text-rows">
        <button class="btn btn-small" (click)="addRow()">+</button>
        <button class="btn btn-small" (click)="removeRow()">-</button>
      </div>

      <!-- to change text area's rows count-->
      <div>
        <button
          style="height: 100%"
          (click)="loadRandomStory()"
          class="btn btn-medium"
        >
          {{ lang["load-random-story"] }}
        </button>
      </div>
    </div>
  </div>
  <!-- user's text goes here -->
  <textarea
    [(ngModel)]="fileContent"
    rows="{{ textRows }}"
    placeholder="{{ lang['your-content-here'] }}"
  >
  </textarea>

  <!-- buttons to control textarea -->
  <div class="controls">
    <!-- to submit -->

    <a
      type="submit"
      [ngClass]="{ disabled: !fileName }"
      class="btn submit-btn"
      [href]="getSanitizedLink()"
      [download]="getFullFileName()"
    >
      {{ lang["download"] }} {{ getFullFileName() }}
    </a>
  </div>
</div>
